/*-- CSS Reset --*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
}
/*---------------------------
Home
---------------------------*/

body {
  background-color: #ad70ff;
  background-image: url("images/Background-3.PNG");
  height: 100vh;
  background-size: cover;
  background-position: top, center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.center {
  display: inline-block;
  max-width: 400px;
  margin-right: auto;
}
.cat1 {
  display: inline-block;
  max-width: 250px;
  margin-right: auto;
}
.computer1 {
  display: inline-block;
  max-width: 300px;
  margin-right: auto;
}
.phone1 {
  display: inline-block;
  max-width: 150px;
  margin-right: auto;
}
.tv1 {
  display: inline-block;
  max-width: 300px;
  margin-right: auto;
}
.home-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
}
.img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
/* footer */
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socials {
  display: flex;
  justify-content: center;
}
.socials a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}
.socials a i {
  font-size: 2em;
  color: #3b0063;
  opacity: 0.9;
}
.home-pictures img:hover {
  transform: scale(1.05) rotate(-2deg);
}
/* Hover effects*/

.socials a:hover i {
  color: aliceblue;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  /*font*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b0063;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
  color: aliceblue;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
/* end footer */
/*---------------------------
Home
---------------------------*/
/*---------------------------
Digital Art
---------------------------*/
.digi-work {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, max-content);
  column-gap: 20px;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  .digi-work {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 30px;
  }
}
.digi-work img {
  width: 600px;
  height: auto;
  display: block;
  max-width: 100%;
}
.fursona {
  display: inline-block;
  margin-top: 20px;
}
.ghostface {
  margin-top: 20px;
}
.room {
  margin-top: 20px;
}
.doggy {
  margin-top: 20px;
}
.alien {
  margin-top: 20px;
}
.stingray {
  margin-top: 20px;
}
.yellow-tulips {
  margin-top: 20px;
}
.day-dreaming {
  margin-top: 20px;
}
.cowboy {
  margin-top: 20px;
}
.vampires {
  margin-top: 20px;
}
.ryan {
  margin-top: 20px;
}
.vic {
  margin-top: 20px;
}
.frank {
  margin-top: 20px;
}
.gerard {
  margin-top: 20px;
}
.mikey {
  margin-top: 20px;
}
.pete {
  margin-top: 20px;
}
.hailey {
  margin-top: 20px;
}
.oli {
  margin-top: 20px;
}
.d-p {
  margin-top: 20px;
}
.r-t {
  margin-top: 20px;
}

.digitallogo {
  display: grid;
  place-items: center;
  width: fit-content;
  margin: auto;
}
/* nav bar */
.TopNav {
  margin: 30px 0;
  display: block;
}

.TopNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.TopNav ul li a {
  /*font*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b0063;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.TopNav ul li a:hover {
  opacity: 1;
  color: aliceblue;
}
@media (max-width: 700px) {
  .TopNav ul {
    flex-direction: column;
  }
  .TopNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
/* nav bar*/
/* concept art */
.concept-work {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.concept-work img {
  width: 100%;
  height: auto;
  display: block;
}
.orange1 {
  max-width: 800px;
}
.orange2 {
  max-width: 800px;
}
.con-bg {
  max-width: 1600px;
}
.vlorp {
  max-width: 1055px;
}
.backpack {
  max-width: 593px;
}
.alien-front {
  max-width: 800px;
}
.alien-side {
  max-width: 800px;
}
.people-chips-front {
  max-width: 800px;
}
.people-chips-back {
  max-width: 800px;
}
.character-sheet-sf {
  max-width: 800px;
}
.melty-man {
  max-width: 800px;
}
.staff {
  max-width: 800px;
}
.polaroid {
  max-width: 800px;
}
.DnD {
  max-width: 1600px;
}
.SF-bg {
  max-width: 1600px;
}
.bg1 {
  max-width: 800px;
}
.bg2 {
  max-width: 800px;
}
.bg3 {
  max-width: 800px;
}
/*---------------------------
animation
---------------------------*/
.people-chips {
  margin-top: 20px;
}
.animation-title {
  margin-top: 35px;
}
/*---------------------------
About me
---------------------------*/
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b0063;
  font-size: 1.3em;
  font-weight: bold;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b0063;
  font-size: 1.3em;
  text-align: left;
  line-height: 1.5;
  width: 500px;
}
/* animation */
iframe {
  border: none;
}
/*about me*/
.about {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.about img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    width: 80%;
    margin-bottom: 20px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact-container p {
  font-size: 1.2rem;
  margin: 0 auto 40px;
  max-width: 600px;
  text-align: center;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.social-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 2rem;
  color: #3b0063;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 10px 15px;
  border-radius: 8px;
}
.social-links a:hover {
  transform: scale(1.1);
  color: aliceblue;
}
@media (max-width: 600px) {
  .contact-container h1 {
    font-size: 2rem;
  }
  .contact-container p {
    font-size: 1rem;
  }
  .social-links a {
    font-size: 1.3rem;
  }
}
@media (max-width: 393px) {
  .top-logog img {
    width: 10px;
  }
}
.top-logog {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

header nav {
  padding: 1rem;
  text-align: center;
}
@media (max-width: 393px) {
  .digitallogo img {
    width: 10px;
  }
}
.digitallogo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

header nav {
  padding: 1rem;
  text-align: center;
}
